body {
	position: relative;
    min-height: 100%;
    padding-top: 0px;
    font-family: "Raleway",sans-serif;
}

dt {
    font-weight: 100;
}
dd {
	font-weight: 700;
}

/** Custom Search Styles Start**/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/** Custom Search Styles End**/

/* Datatables custom CSS Start */
table {
    table-layout: fixed;
	word-break:break-all;
    overflow: hidden;  
}

.table thead tr {
	border-bottom-width: 0px;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 13px;
	background-color: #6F7E95;
}
	
.table td,th {
	text-align: center;
	word-break: break-word;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after {
	opacity: 1.0;
}
/* Datatables custom CSS End */

.loading {    
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  text-align: right;
}